.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(.625rem + 2vmin);
  color: hsl(0, 0%, 100%);
}

.App-link {
  color: hsl(193, 95%, 68%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}